# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Vector DB / embeddings
chroma_db/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

#pdfs
knowledge/*.pdf